.logo img{
	width:100.181px;
	margin-left: 30px;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
	display: inline-block;
	vertical-align: middle;
	margin-bottom:30px;
	font-size:22px;
	color:blue;
}
.mtavari{
	color:red;
}
.navigation-li{
	display: inline-block;
	margin-right:30px;
}
.navigation{
	display: inline-block;
	vertical-align: middle;
	margin-left:48.247px;
}

.contact_map_fluid {
	    background-color: #E6E6E6;
}

.date{
	background-color: blue;
	width: 50px;
	font-size: 48px;
	margin-left: 30px;
	padding: 10px;
	color: white;
}
.month{
	color: blue;
	font-size: 22px;
	margin-left: 35px;
	margin-top: 10px;
}
.text1{
	font-size: 20px;
	margin-left: 30px;
	margin-top: 30px;
}
.pic1{
	width: 270px;
	margin-left: 30px;
	margin-top: 30px;
}
.pic2{
	width: 270px;
	margin-left: 30px;
	margin-top: 30px;
}
.pic3{
	width: 270px;
	margin-left: 30px;
	margin-top: 30px;
}
p{
	margin-left: 30px;
	width: 930px;
	margin-left: 30px;
	font-size: 16px;
	margin-bottom: 50px;
}
.section2{
	display: inline-block;
	vertical-align: top;
}
.section3{
	display: inline-block;
	vertical-align: top;
	margin-top: 30px;

}
.section4{
	margin-left: 30px;
}
.fb{
	margin-right: 30px;
}
.contact1{
	color: blue;
	font-size: 20px;
	margin-left: 30px;
	margin-bottom: 5px;
}
.adress1{
	margin-left: 30PX;
	color: #808080;
	font-size: 16PX;
	display: inline-block;
}
.adress2{
	font-size: 16px;
	display: inline-block;
}
.mail1{
	margin-left: 30PX;
	color: #808080;
	font-size: 16PX;
	margin-top: 5px;
	display: inline-block;
}
.mail2{
	font-size: 16px;
	display: inline-block;
}
.section5{
	display: inline-block;
	vertical-align: top;
	margin-top: 81px;
}
.section6{
	display: inline-block;
	widows: 1366px;
	margin-bottom: 30px;
}
.map{
	width: 874px;
	margin-left: 92px;
	margin-top: 71px;
}
footer{
	padding: 30px;
}